html{
	background-image: url("images/Background2.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right bottom;
    background-size: cover;
    position: relative;
}

.welcome-page #howToPlay:hover{
	cursor: pointer;
}
.welcome-page #options:hover{
	cursor: pointer;
}
.howToPlay-page #backButton{
	cursor: pointer;
}
.option-page #backButton{
	cursor: pointer;
}

#title {
    width: 68%;
    height: auto;
    position: absolute;
    transform: translate(23%, 29%);
}

#play {
    width: 13%;
    height: auto;
    position: absolute;
    transform: translate(345%, 372%);
}

#options {
    width: 22%;
    height: auto;
    position: absolute;
    transform: translate(180%, 448%);
}

#howToPlay {
    width: 34%;
    height: auto;
    position: absolute;
    transform: translate(98%, 515%);
}

.option-page{
	display: none;
}

#optionPane {
    width: 70%;
    height: auto;
    position: absolute;
    transform: translate(22%, 13%);
}

.howToPlay-page{
	display: none;
}

#divider {
    width: 0.55%;
    height: auto;
    position: absolute;
    transform: translate(9300%, 20%);
}

#movement {
    width: 21%;
    height: auto;
    position: absolute;
    transform: translate(110%, 140%);
}

#movementGIF {
    width: 8%;
    height: auto;
    position: absolute;
    transform: translate(372%, 143%);
}

#movementGunGIF {
    width: 12%;
    height: auto;
    position: absolute;
    transform: translate(523%, 134%);
}

#attack {
    width: 17%;
    height: auto;
    position: absolute;
    transform: translate(349%, 143%);
}

#left {
    width: 7%;
    height: auto;
    position: absolute;
    transform: translate(338%, 425%);
}

#right {
    width: 7%;
    height: auto;
    position: absolute;
    transform: translate(529%, 425%);
}

#leftAttack {
    width: 7%;
    height: auto;
    position: absolute;
    transform: translate(822%, 425%);
}

#rightAttack {
    width: 7%;
    height: auto;
    position: absolute;
    transform: translate(1040%, 425%);
}

#upAttack {
    width: 7%;
    height: auto;
    position: absolute;
    transform: translate(932%, 425%);
}

#backButton {
    width: 14%;
    height: auto;
    position: absolute;
    transform: translate(510%, 850%);
}

#musicTitle {
    width: 14%;
    height: auto;
    position: absolute;
    transform: translate(150%, 280%);
}

#sfxTitle {
    width: 12%;
    height: auto;
    position: absolute;
    transform: translate(195%, 428%);
}

#musicRange {
    position: absolute;
    transform: translate(100%, 622%);
}

#sfxRange {
    position: absolute;
    transform: translate(100%, 1050%);
}

input[type=range] {
  height: auto;
  -webkit-appearance: none;
  width: 40%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #E3D8C3;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 40px;
  width: 15px;
  border-radius: 5px;
  background: #B38258;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13.5px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #E3D8C3;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #000000;
  background: #E3D8C3;
  border-radius: 5px;
  border: 1px solid #000000;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 40px;
  width: 15px;
  border-radius: 5px;
  background: #B38258;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 15px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #E3D8C3;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #E3D8C3;
  border: 1px solid #000000;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #000000;
  border: 1px solid #000000;
  height: 40px;
  width: 15px;
  border-radius: 5px;
  background: #B38258;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #E3D8C3;
}
input[type=range]:focus::-ms-fill-upper {
  background: #E3D8C3;
}